<div class="container" id="about">
	<div class="row">
		<div class="col-md-12">
			<h1 ng-click="vmAbout.register(vmAbout.section1)">{{vmAbout.section1.src}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 ng-click="vmAbout.register(vmAbout.section2)">{{vmAbout.section2.src}}</h3>
			<p ng-click="vmAbout.register(vmAbout.section3)">{{vmAbout.section3.src}}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<img class="image-about"ng-click="vmAbout.register(vmAbout.section4)" src="{{vmAbout.section4.src}}"></img>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 ng-click="vmAbout.register(vmAbout.section5)">{{vmAbout.section5.src}}</h3>
			<p ng-click="vmAbout.register(vmAbout.section6)">{{vmAbout.section6.src}}</p>
		</div>
	</div>
</div>
