.head h1{
  padding: 20px;
  padding-bottom: 10px;
  color: #004759;
}
.wrapper {
  padding: 20px;
  font-size: 14px;
}

.wrapper img{
  width: 100%;
  height: 80%;
}

.wrapper-footer::after {
  margin-bottom: 50px;
}
