<div class="container">
  <div class="row head">
    <h1 ng-click="home.register(home.section1)"> {{home.section1.src}}</h1>
  </div>
  <div class="row">
    <div class="col-md-7 wrapper">
      <p ng-click="home.register(home.section2)">{{home.section2.src}}</p>
      <p ng-click="home.register(home.section2)">{{home.section2.src}}</p>
      <p ng-click="home.register(home.section2)">{{home.section2.src}}</p>
    </div>
    <div class="col-md-5 wrapper">
      <img ng-click="home.register(home.section3)" src="{{home.section3.src}}" alt="">
    </div>
  </div>
  <div class="row head">
    <h1 ng-click="home.register(home.section4)">{{home.section4.src}}</h1>
  </div>
  <div class="row">
    <div class="col-md-12 wrapper-footer wrapper">
      <p ng-click="home.register(home.section5)">{{home.section5.src}} </p>
    </div>
  </div>
</div>
